.content {
    height: 100vh;
    position: relative;
}

.thanks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks__ttl {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16em;
    color: #f3f3f3;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #928178;
    font-weight: bolder;
    font-size: 2em;
}

.button {
    text-align: center;
}

.form__button-submit {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    height: 40px;
    width: 100px;
    border: none;
    background: #928178;
    color: #f3f3f3;
    cursor: pointer;
}